<a href="https://colab.research.google.com/github/mars241/CheckPoints/blob/main/Armelle_Marcia_ADOHOUNDE_Bo%C3%AEte_%C3%A0_outils_3_6_Python_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 FONCTION ENUMERATE
#Si vous voulez en récupérer l'index d'un itérable, vous pouvez utiliser la fonction enumerate .
liste = ["a","d","m"]
for lettre in enumerate(liste):
  print (lettre)

#Les valeurs retournées par la boucle sont des tuples.
#(0, 'a')
#(1, 'd')
#(2, 'm')

(0, 'a')
(1, 'd')
(2, 'm')

In [ ]:
#2 CREATE.TABLEAU. ARRANGE (IMPORT BIBLIOTHEQUE/MODULE)
# Programme Python pour itérer sur un tableau
# import module "geek" du numpy
import numpy as geek

#création d'un tableau à l'aide de la méthode arrange
a = geek.arange(9)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
#3 BONNE METHODE POUR COPIER UNE LISTE(sans écraser l'original)
#Alors comment copier une liste qui sera indépendante?
x = [1,2,3]
y = x[:]
print(y)

[1, 2, 3]

In [ ]:
#3 bis COPY.DEEPCOPY (IMPORT MODULE) : crée une copie indépendante, ce qui signifie que l'on peut modifier le nouvel objet sans modifier l'original.
# Exemple : créer une copie d'une liste

#Pour des données plus complexes, vous pouvez utiliser la fonction deepcopy du module copy

import copy
x = [[1,2], 2]
y = copy.deepcopy(x)
y

[[1, 2], 2]

In [ ]:
#4 FONCTION
# fct pésonalisé pour ajouter un an à chaque fois
def grandir(nom, age):
    message = f'Bonjour {nom}, vous avez grandi. Vous avez désormais {age + 1} ans'
    return message
#exécution du code:
m = grandir('Bob', 15)
m

'Bonjour Bob, vous avez grandi. Vous avez désormais 16 ans'

In [ ]:
#5 SPLIT (TRANSPORMATION STRING EN LISTE)
# Transformer une string en liste
# Parfois il peut être utile de transformer une chaine de caractère en liste. Cela est possible avec la méthode split .

ma_chaine = "Olivier:ENGEL:Strasbourg"
ma_chaine.split(":")
#résultat :['Olivier', 'ENGEL', 'Strasbourg']

['Olivier', 'ENGEL', 'Strasbourg']

In [ ]:
#5 bis .JOIN (MODULE INVERSE DE SPLIT)
#Transformer une liste en string
# L'inverse de "split" est possible avec la méthode " join ".

liste = ["Olivier","ENGEL","Strasbourg"]
":".join(liste)
#resultat :'Olivier:ENGEL:Strasbourg'

'Olivier:ENGEL:Strasbourg'

In [ ]:
#6 PERMUTATIONS (IMPORT MODULE)
# La permutation d'un ensemble d'éléments est une liste de tous les cas possibles. Si vous avez besoin de cette fonctionnalité, inutile de réinventer la roue, itertools s'en occupe pour vous.

from itertools import permutations
list(permutations(['a', 'b', 'c']))
#Résultat :[('a', 'b', 'c'), ('a', 'c', 'b'), ('b', 'a', 'c'), ('b', 'c', 'a'), ('c', 'a', 'b'), ('c', 'b', 'a')]

[('a', 'b', 'c'),
 ('a', 'c', 'b'),
 ('b', 'a', 'c'),
 ('b', 'c', 'a'),
 ('c', 'a', 'b'),
 ('c', 'b', 'a')]

In [ ]:
#6 bis PERMUTATIONS (IMPORT MODULE)
# Permutation d'une liste de liste
# Comment afficher tous les cas possibles d'une liste elle-même composée de liste? Avec l'outil product de itertools :

from itertools import product
list(product(['a', 'b'], ['c', 'd']))
#Résultat :[('a', 'c'), ('a', 'd'), ('b', 'c'), ('b', 'd')]

[('a', 'c'), ('a', 'd'), ('b', 'c'), ('b', 'd')]

In [ ]:
#7 GET : retourne la valeur de la clé spécifiée dans un dictionnaire

ex_dict = {'word1' : 'Hello', 'word2' : "world", 'punctuation' : ' !'}
ex_dict.get('word1')

'Hello'

In [ ]:
#8 FRONZENSET : renvoie un objet frozenset non modifiable

ex_dict = {'word1' : 'Hello', 'word2' : "world", 'punctuation' : ' !'}
frozen_dict = frozenset(ex_dict)
frozen_dict

frozenset({'punctuation', 'word1', 'word2'})

In [ ]:
#8 bis SORTED : renvoie une liste triée de l'objet itérable spécifié

numbers = [6, 2, 1, 4, 5, 3]
sorted_numbers = sorted(numbers)
sorted_numbers

[1, 2, 3, 4, 5, 6]

In [ ]:
#9 LIST.APPEND: ajouter pour rechercher un caractère dans une liste
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

# 1er vesion :quand il y a "a" garder la str
for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

#Résultat :['apple', 'banana', 'mango']

# 2eme vesion :quand il y a "a" garder la str
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]

print(newlist)

#Résultat :['apple', 'banana', 'mango']

In [ ]:
#9 bis FILTER FUNCTION(USE FUNCTION LAMBDA) : retourne les éléments de l'itérable pour lesquels la fonction retourne Vrai.
# Exemple : récupérer les nombres impairs d'une liste.

nbrs = [1, 2, 3, 4, 5, 6, 7, 8 , 9]
nbrs_impaire = list(filter(lambda x: x % 2, nbrs))
nbrs_impaire

[1, 3, 5, 7, 9]

In [ ]:
#10 MAP FUNCTION (USE FUNCTION LAMBDA) : applique une fonction donnée à chaque élément d'un itérable
# Exemple : ajouter 1 à chaque élément d'une liste

numbers = [1, 2, 3, 4, 5]
list(map(lambda x: x + 1, numbers))

[2, 3, 4, 5, 6]