<a href="https://colab.research.google.com/github/mars241/CheckPoints/blob/main/Gp_Chang_Simon_Marcia_L%C3%A9a_W15_Dojo_Python_Tri_de_listes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Mission 1 : triez une liste SANS les fonctions *sort* / *sorted***

In [ ]:
# QUESTION : triez une liste SANS les fonctions sort / sorted
random_list = [5, 9, -175, 35.124/3, 6.84, 0, abs(-16), 0]

In [ ]:
# Test pour afficher la liste donnée :
random_list = [5, 9, -175, 35.124/3, 6.84, 0, abs(-16), 0]
random_list

[5, 9, -175, 11.708, 6.84, 0, 16, 0]

In [ ]:
random_list = [5, 9, -175, 35.124/3, 6.84, 0, abs(-16), 0]

# REPONSE :
# Utilisons une fonction pour trier par ordre croissant :

def trier(random_list):
    r=[] # initialisation
    while random_list:
        mini=random_list[0]
        for z in random_list:
            if z < mini:
                mini=z
        random_list.remove(mini)
        r.append(mini) # Ajouter à la suite chaque minimum
    return r



print(trier([5, 9, -175, 35.124/3, 6.84, 0, abs(-16), 0]))

[-175, 0, 0, 5, 6.84, 9, 11.708, 16]

In [ ]:
# CORRECTION:

random_list = [5, 9, -175, 35.124/3, 6.84, 0, abs(-16), 0]

sorted_list = []

for i in range(len(random_list)):
  lowest = min(random_list)
  sorted_list.append(lowest)
  random_list.remove(lowest)

sorted_list

[-175, 0, 0, 5, 6.84, 9, 11.708, 16]

### **Mission 2 : vous avez utilisé une boucle *for* ? Utilisez maintenant une boucle *while*... Et vice-versa !**

In [ ]:
# QUESTION:
#  vous avez utilisé une boucle for ? Utilisez maintenant une boucle while... Et vice-versa !
random_list = [5, 9, -175, 35.124/3, 6.84, 0, abs(-16), 0]

In [ ]:
random_list = [5, 9, -175, 35.124/3, 6.84, 0, abs(-16), 0]

# Utilisons le boucle for ici ...

def trier2(random_list):
    for i in range(len (random_list)):
        mini=i
        for j in range(i+1, len (random_list)):
            if random_list[j]<random_list[mini] :
                mini = j
        random_list[i], random_list[mini] = random_list[mini], random_list[i] # Ajouter à la suite avec ',' et par affectation
    return random_list

print(trier2([5, 9, -175, 35.124/3, 6.84, 0, abs(-16), 0]))

[-175, 0, 0, 5, 6.84, 9, 11.708, 16]

In [ ]:
# CORRECTION:

random_list = [5, 9, -175, 35.124/3, 6.84, 0, abs(-16), 0]

sorted_list = []

while len(random_list) > 0:
  lowest = min(random_list)
  sorted_list.append(lowest)
  random_list.remove(lowest)

sorted_list

[-175, 0, 0, 5, 6.84, 9, 11.708, 16]

### **Mission 3 : réécrivez votre code sous forme de fonction**

In [ ]:
 # QUESTION:

 # Supprimez "pass" et écrivez votre fonction

 #  réécrivez votre code sous forme de fonction

def sort_without_sort(random_list):
  pass

In [ ]:
# test pour afficher la liste donné
random_list = [5, 9, -175, 35.124/3, 6.84, 0, abs(-16), 0]
random_list

[5, 9, -175, 11.708, 6.84, 0, 16, 0]

In [ ]:
 # Réponse à : Supprimez "pass" et écrivez votre fonction

# Au dessus, on a pas utiliser "pass"!, ici le code reste le même.
def sort_without_sort(random_list):
  for i in range(len (random_list)):
        mini=i
        for j in range(i+1, len (random_list)):
            if random_list[j]<random_list[mini] :
                mini = j
        random_list[i], random_list[mini] = random_list[mini], random_list[i] # Ajouter à la suite dans une liste avec ',' et par affectation
  return random_list

print(sort_without_sort([5, 9, -175, 35.124/3, 6.84, 0, abs(-16), 0]))

[-175, 0, 0, 5, 6.84, 9, 11.708, 16]

In [ ]:
# CORRECTION :

random_list = [5, 9, -175, 35.124/3, 6.84, 0, abs(-16), 0]

def sort_without_sort(random_list):
  sorted_list = []

  while len(random_list) > 0:
    lowest = min(random_list)
    sorted_list.append(lowest)
    random_list.remove(lowest)

  return sorted_list

sorted_list

[-175, 0, 0, 5, 6.84, 9, 11.708, 16]

### **Mission 4 : quand certains nombres... ne sont pas des nombres !**

In [ ]:
# QUESTION : Réécrivez votre fonction de manière à ce qu'elle
# fonctionne avec la liste suivante :

mixed_list = [5, 9, -175, True, 6.84, 5//4, 0, "12", abs(-16)]

In [ ]:
# Test pour afficher la liste donnée:
mixed_list = [5, 9, -175, True, 6.84, 5//4, 0, "12", abs(-16)]
mixed_list

[5, 9, -175, True, 6.84, 1, 0, '12', 16]

In [ ]:
# test pour convertir en nombre
float(True)

1.0

In [ ]:
# convertir la liste en nombre mésurable; entier(INT); nombre décimal(FLOAT)... Tout en le parcourant

normal_list = [float(i) for i in mixed_list]
normal_list

[5.0, 9.0, -175.0, 1.0, 6.84, 1.0, 0.0, 12.0, 16.0]

In [ ]:
# Réponse à :
# Réécrivez votre fonction de manière à ce qu'elle
# fonctionne avec la liste suivante :

mixed_list = [5, 9, -175, True, 6.84, 5//4, 0, "12", abs(-16)]

# La fonction

def sort_without_sort(mixed_list):
  normal_list = [float(i) for i in mixed_list]
  sorted_list = []

  while len(normal_list) > 0:
    lowest = min(normal_list)
    sorted_list.append(lowest)
    normal_list.remove(lowest)

  return sorted_list

sort_without_sort(mixed_list)

[-175.0, 0.0, 1.0, 1.0, 5.0, 6.84, 9.0, 12.0, 16.0]

### **Mission 5 : avec des nombres binaires**

In [ ]:
# QUESTION :
# avec des nombres binaires
binary_list = ['00010001', '0', '11111', '10']

In [ ]:
# Test pour afficher la liste donnée:
binary_list = ['00010001', '0', '11111', '10']
binary_list

['00010001', '0', '11111', '10']

In [ ]:
# test
#CONVERTIR UN NOMBRE EN BASE 10 (binaire)
bin(13)

'0b1101'

In [ ]:
# test
# utiliser la base 8 (octale) pour convertir un nombre
oct(113)

'0o161'

In [ ]:
# test
# Ecrire un binaire en entier en utilisant la fct 'int' et donner la base voulue(ici la base 2)
a=int('00010001',2)
a

17

In [ ]:
def sort_without_sort(nested_lists):
  normal_list = []

  for item in nested_lists:
    if type(item) == list:
      for i in item:
        normal_list.append(i)
    else:
      normal_list.append(item)

  sorted_list = []

  while len(normal_list) > 0:
    lowest = min(normal_list)
    sorted_list.append(lowest)
    normal_list.remove(lowest)

  return sorted_list

sort_without_sort(nested_lists)

[-32.5, -15, 0, 0, 3, 6, 32.5]

FONCTIONS à re- traiter

In [ ]:
binary_list = ['00010001', '0', '11111', '10']

# convertir un binaire en entier:

def get_decimal_value(binary_list):
  resulte=0
  first = binary_list.first
  while first:
     result = result*2 + first._item
     first = first.next

  return result


print(get_decimal_value(['00010001', '0', '11111', '10']))

AttributeError: ignored

### **Mission 6 : et avec une liste de listes... ?**

In [ ]:
# Réécrivez votre fonction de manière à ce qu'elle
# fonctionne avec la liste suivante :
import numpy as np
nested_lists = [3, [6, -15], [0, 32.5, -32.5], 0, []]
#
nested_lists_2 = nested_lists.reshape()

nested_lists_2

AttributeError: ignored