<a href="https://colab.research.google.com/github/mars241/CheckPoints/blob/main/Notes_Moncef_Saba_Marcia_de_Pandas_loc_iloc_ou_est_Charlie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Where is (contained the name of) Waldo?

![](https://github.com/murpi/wilddata/raw/master/dojos/waldo.jpg)

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/murpi/wilddata/master/dojos/poke-charlie.csv")
df.head(10)

# For ENGLISH players, they can use this other file for "Where is Waldo?"
# https://raw.githubusercontent.com/murpi/wilddata/master/dojos/poke-waldo.csv

,Unnamed: 0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,6,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,7,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,7,8,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,8,9,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,9,10,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [ ]:
df.columns

Index(['Unnamed: 0', '#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack',
       'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [ ]:
print(type(df[df["Name"].str.contains("Charlie")]["Name"]))
#Rmq1: Mettre "C" Magiscule dans charlie

# le message :<class 'pandas.core.series.Series'> signifie que il maque un argument à appliquer à la fonction sur la DF/ la valeur(A trouver!) ect...

<class 'pandas.core.series.Series'>

In [ ]:
#Rmq2: le print() ici sert à afficher le contenue: type ou valeur de la DataFrame
print(df[df["Name"].str.contains("charlie")]["Name"])

Series([], Name: Name, dtype: object)

In [ ]:
df[df["Name"].str.contains("Charlie")]
# contient toutes les colonnes qu'on doit retrouver dans la quête pour retouver Charlie!

Empty DataFrame
Columns: [Unnamed: 0, #, Name, Type 1, Type 2, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [ ]:
df[df["Name"].str.contains("Charlie")]["Name"][345]

"Charlie est parti. Parmi les Type 1 Fire, il a maintenant l'Attaque maximale"

In [ ]:
#Toutes les lignes dont le le "type 1" est 'Fire'
df[df['Type 1']=='Fire']

# la ligne d'index "279" où la valeur de "Name" est texte.

,Unnamed: 0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,6,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,7,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,7,8,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,8,9,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,42,43,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,43,44,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,63,64,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,64,65,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,83,84,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,84,85,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,135,136,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,147,148,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,158,159,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,169,170,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,170,171,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,171,172,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,236,237,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,237,238,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,259,260,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,263,264,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,270,271,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,276,277,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,277,278,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,278,279,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,279,280,Il s'est encore échappé. Parmi les Rock de typ...,Fire,Fighting,80,160,80,130,80,100,3,False
352,352,353,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,353,354,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,354,355,Mega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,355,356,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,435,436,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,436,437,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,437,438,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,518,519,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,542,543,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,557,558,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,558,559,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,559,560,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,572,573,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,573,574,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,614,615,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,615,616,Darmanitan Standard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,616,617,Darmanitan Zen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,692,693,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,721,722,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,722,723,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,723,724,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,730,731,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,731,732,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,735,736,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,736,737,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
#Charlie est parti. Parmi les Type 1 Fire, il a maintenant l'Attaque maximale
df[df['Type 1']=='Fire'].sort_values(by ='Attack', ascending= False)["Name"]

# la phrase qui nous intéresse est à la 279 index

279    Il s'est encore échappé. Parmi les Rock de typ...
615                             Darmanitan Standard Mode
270                                                Ho-oh
147                                              Flareon
7                                       Mega Charizard X
559                                               Emboar
278                                             Blaziken
354                                        Mega Camerupt
263                                                Entei
799                                            Volcanion
64                                              Arcanine
437                                            Infernape
8                                       Mega Charizard Y
84                                              Rapidash
158                                              Moltres
353                                             Camerupt
573                                             Simisear
692                                              Heatmor
518                                            Magmortar
135                                               Magmar
558                                              Pignite
542                                              Heatran
614                                             Darumaka
277                                            Combusken
355                                              Torkoal
83                                                Ponyta
171                                           Typhlosion
6                                              Charizard
731                                           Talonflame
436                                             Monferno
43                                             Ninetales
259                                                Magby
730                                          Fletchinder
63                                             Growlithe
723                                              Delphox
736                                               Pyroar
5                                             Charmeleon
170                                              Quilava
557                                                Tepig
352                                                Numel
276                                              Torchic
722                                              Braixen
435                                             Chimchar
572                                              Pansear
169                                            Cyndaquil
4                                             Charmander
237                                             Magcargo
735                                               Litleo
721                                             Fennekin
42                                                Vulpix
236                                               Slugma
616                                  Darmanitan Zen Mode
Name: Name, dtype: object

In [ ]:
# Maximal <=> ordre croissant:ascending= False (valeur par défaut)
df[df['Type 1']=='Fire'].sort_values(by ='Attack', ascending= False)["Name"][279]

"Il s'est encore échappé. Parmi les Rock de type 1, il a maintenant la défense minimum."

In [ ]:
#Il s'est encore échappé. Parmi les Rock de type 1, il a maintenant la défense minimum.
df[df['Type 1']== 'Rock'].sort_values(by ='Defense', ascending= True)["Name"]

# la phrase qui nous intéresse est à la 453 index

453    Il est parti par là ! C'est un Légendaire avec...
627                                               Archen
768                                               Amaura
379                                              Anorith
265                                             Larvitar
454                                            Rampardos
628                                             Archeops
153                                           Aerodactyl
369                                             Lunatone
758                                              Binacle
266                                              Pupitar
769                                              Aurorus
377                                               Lileep
766                                               Tyrunt
583                                           Roggenrola
154                                      Mega Aerodactyl
370                                              Solrock
700                                            Terrakion
151                                               Kabuto
486                                               Bonsly
378                                              Cradily
80                                               Geodude
380                                              Armaldo
149                                              Omanyte
152                                             Kabutops
584                                              Boldore
267                                            Tyranitar
796                                         Mega Diancie
200                                            Sudowoodo
759                                           Barbaracle
81                                              Graveler
455                                             Shieldon
767                                            Tyrantrum
150                                              Omastar
585                                             Gigalith
82                                                 Golem
323                                             Nosepass
528                                            Probopass
773                                              Carbink
268                                       Mega Tyranitar
795                                              Diancie
103                                                 Onix
456                                            Bastiodon
414                                             Regirock
Name: Name, dtype: object

In [ ]:
# minimum <=> ordre décroissant :ascending= True
df[df['Type 1']== 'Rock'].sort_values(by ='Defense', ascending= True)["Name"][453]

"Il est parti par là ! C'est un Légendaire avec 91 de vitesse."

In [ ]:
df[df['Type 1']== 'Rock'].sort_values(by ='Defense', ascending= True)["Name"]